<a href="https://colab.research.google.com/github/parvathimandava/AmazonPriceTracker/blob/master/Untitled38.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Write a python Program to find the Sum of number digits.

1.   List item
2.   List item


Ex.  number = 456
Output = 15

In [1]:
n=list(map(int,input().strip()))
print(sum(n))

456
15

Q2. Write a python Program ] to print duplicates from a list of integers.

Ex. Input : list = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]

Output : output_list = [20, 30, -20, 60]

In [6]:
def Repeat(x):
    _size = len(x)
    repeated = []
    for i in range(_size):
        k = i + 1
        for j in range(k, _size):
            if x[i] == x[j] and x[i] not in repeated:
                repeated.append(x[i])
    return repeated
 
# Driver Code
list1 = [10, 20, 30, 20, 20, 30, 40, 
         50, -20, 60, 60, -20, -20]
print (Repeat(list1))

[20, 30, -20, 60]

Q3. Write a python Program to print ASCII Value of a character

Input : a 
Output : 97

In [7]:
ch = input("Enter any character: ")

print(ord(ch))

Enter any character: a
97